# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# Operating System
.DS_Store
Thumbs.db

# Logs
*.log

# Environment Variables
.env

# Build & Distribution
build/
dist/
*.egg-info/

# Zip Archives
*.zip

# HAPT Cache
data/historical/*.csv
data/live/*.csv

# Keep the cache directories
!data/historical/.gitkeep
!data/live/.gitkeep